@import '../base/variables' ;

    body{ background-color: $color-fondo;
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
   img{
        width: 100%;
    } 
    
    h1, h2, h3, h4, h5{
        color: $color-fuente;
    }
    
    
    